include ../mixins/category-item

section.category.container
    h3 Shop By
    h2 Categories
    .category__row
        +category-item('./assets/imgs/category1.svg', 'Vegetables & Fruits')
        +category-item('./assets/imgs/category2.svg', 'Grocery & Staples')
        +category-item('./assets/imgs/category3.svg', 'Dairy & Eggs')
        +category-item('./assets/imgs/category4.svg', 'Beverages')
        +category-item('./assets/imgs/category5.svg', 'Snacks')
        +category-item('./assets/imgs/category6.svg', 'Home Care')