doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/app.css")
    body
    //-h1 title h1
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam reprehenderit nisi, facere, a porro quasi amet, similique nesciunt officia harum ipsa velit natus totam? Rem doloremque nisi error laudantium.
    img(src="./assets/imgs/chen.jpeg", alt="картинка")